<h2>Edite la publicacion</h2>
<form action="edit" method="POST" >
<h2>Nombre del producto</h2>
<input type="string" name="nombreDelProducto" placeholder="{{nombreDelProducto}}"/>
<h2>Descripcion</h2>
<input type="text" name ="descripcion" placeholder="{{descripcion}}"/>
{{!-- <h2>Juego</h2>
<input type="text" name="juego" placeholder="{{}}"" --}}
<h2>Numero Telefonico</h2>
<input type="text" name ="NumeroTelefonico" placeholder="{{NumeroTelefonico}}"/>
<h2>Cantidad</h2>
<input type="number" name ="cantidad" placeholder="{{cantidad}}"/>
<h2>Fecha de Publicacion</h2>
<input type="date" name="fechaDePublicacion" placeholder="{{fechaDePublicacion}}"
<button type="submit">Enviar</button>
</form>
