

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/stylesheets/styles.css"/>
    <style>
        label{
            color:white;
        }
    </style>
</head>
<body>
    <form action="edit" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName4">Skin Name</label>
      <input type="text" class="form-control" name="nombreDelProducto" placeholder="{{nombreDelProducto}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputText4" class="letra">Description</label>
      <input type="text" class="form-control" name="descripcion"  placeholder="{{descripcion}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAmount">Amount</label>
    <input type="number" class="form-control" name="cantidad" placeholder="{{cantidad}}">
  </div>
  <div class="form-group">
    <label for="inputPhoneNumber2">Phone Number</label>
    <input type="date" class="form-control" name="NumeroTelefonico" placeholder="{{NumeroTelefonico}}">
  </div>
  <div class="form-group col-md-2">
      <label for="inputZip">Publication Date</label>
      <input type="date" class="form-control" name="{{fechaDePublicacion}}">
    </div> 
    <button type="submit">Enviar</button>
</form>
</body>
</html>