{{!-- <h2>Skin publicada</h2>
{{#each SkinList}}
<h2>{{this.nombreDelaSkin}}</h2>
<p>Acá puede ver la descripcion de la Skin: {{descripcion}}</p>
<p>Este el juego al que pertenece esta skin :{{juegoAlQuePertenece}}</p>
<p>Su calidad es de {{calidad}}</p>
<img src={{imagen}} alt="Girl in a jacket" > 
<a href="/skin/{{this.id}}/edit">Editar</a>
<form action="/skin/{{this.id}}/delete" method="POST">
<button type="submit" name="delete">Delete</button>
<a href="/skin/create">Acá puede crear una skin nueva</a>
</form>
{{/each}} --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet"  href="/stylesheets/styles.css"/>
</head>
<body>
    {{#if SkinList}}
{{#each SkinList}}
<div class="list-group">
<a href="/skin/{{this.id}}/edit" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{nombreDelaSkin}}</h5>
      <small class="text-muted">{{descripcion}}</small>
      <small class="text-muted">{{NumeroTelefonico}}</small>
      
      <form action="/skin/{{this.id}}/delete" method="POST">
 <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
</form>

    </div>
    <p class="mb-1">{{calidad}}.</p>
    <small class="text-muted">{{juegoAlQuePertenece}}.</small>
    <img src={{imagen}} alt="" > 

    
  </a>
  </div>    
 {{/each}}
 {{/if}}

 <button type="submit" class="btn btn-secondary btn-sm"><a href="/skin/create">Create a new post</a></button>
</body>
</html>
