{{!-- <h2>Edite la publicacion</h2>
<form action="edit" method="POST" >
<h2>Skin Name</h2>
<input type="string" name="nombreDeLaskin" placeholder="{{nombreDelaSkin}}"/>
<h2>Descripcion</h2>
<input type="text" name ="descripcion" placeholder="{{descripcion}}"/>
{{!-- <h2>Juego</h2>
<input type="text" name="juego" placeholder="{{}}"" --}}
{{!-- <h2>Calidad</h2>
<input type="number" name ="calidad" placeholder="{{calidad}}"/>
<h2>Imagen</h2>
<input type="text" name ="imagen" placeholder="{{imagen}}"/>
<button type="submit">Enviar</button>
</form> --}} --}}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/stylesheets/styles.css"/>
    <style>
        label{
            color:white;
        }
        
    </style>
</head>
<body>
    <form action="edit" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName4">Skin Name</label>
      <input type="text" class="form-control" name="nombreDelProducto" placeholder="{{nombreDelaSkin}}">
    </div>
    <div class="form-group col-md-6">
      <label for="inputText4" class="letra">Description</label>
      <input type="text" class="form-control" name="descripcion"  placeholder="{{descripcion}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAmount">Calidad</label>
    <input type="number" class="form-control" name="cantidad" placeholder="{{calidad}}">
  </div>
  <div class="form-group">
    <label for="inputPhoneNumber2">Imagen</label>
    <input type="text" class="form-control" name="imagen" placeholder="{{imagen}}">
  </div>
    <button type="submit">Editar</button>
</form>
</body>
</html> 